# Created by https://www.toptal.com/developers/gitignore/api/vuejs,storybookjs
# Edit at https://www.toptal.com/developers/gitignore?templates=vuejs,storybookjs

### StorybookJs ###
# gitignore template for the Storybook, UI guide for front apps
# website: https://storybook.js.org/

storybook-static/

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

# End of https://www.toptal.com/developers/gitignore/api/vuejs,storybookjs